body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: auto;
  background-color: white;
}

#root {
  height: 100%;
  background-color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0,0,0,.8);
  line-height: 1.5;
  height: 100vh;
  letter-spacing: 0.53px;
  margin-right: -1px !important;
}

html, body, p, a, h1, h2, h3, h4, ul, pre, code {
  margin: 0;
  padding: 0;
  color: inherit;
}

a:active, a:focus, button:focus, input:focus {
  outline: none;
}

input, button, submit {
  border: none;
}

input, button, pre {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: Consolas, monospace;
}
.search {
  margin-left:130px;
  margin-top:-25px;
  text-align: right; 
  position: relative;
  width: 150px;
}
.search-box {
  border: 2px solid black;
  border-radius: 1px;
  font-size: 0.9rem;
  width: 150px;
}
.search-box:focus {
  width: 100%;
  outline: none;
  border: 2px solid #03a1fc;
}

ul.options {
  display: block;
  list-style: none;
  width: 150px;
  transition: width 0.3s;
  margin: auto;
  margin-left:130px;
  position: relative;
}

ul.options li {
  display: block;
  background: white;
  margin: 2px auto;
  padding: 2px;
  font-size: 0.8rem;
  width: 150px;
  border-radius: 2px;
}
ul.options li:hover {
  font-weight: bold;
  color:#03a1fc;
  cursor: pointer;
  transition: 0.3s all;
}

ul.options li.option-active {
  background: whitesmoke;
  font-size: 0.9rem;
  color: #03a1fc;
}
.no-options {
  margin-left:150px;
  color:black;
}
