.search {
    padding-left:10px;
    float: left;
    margin-top:15px;
    text-align: right;
    position: relative;
    width: 200px;
  }
  .search-box {
    border: 2px solid black;
    border-radius: 1px;
    font-size: 1rem;
    
  }
  .search-box:focus {
    width: 100%;
    outline: none;
    border: 2px solid #08a1b6;
  }
  
  ul.options {
    display: block;
    list-style: none;
    width: 200px;
    transition: width 0.3s;
    margin: auto;
    position: relative;
  }
  
  ul.options li {
    display: block;
    background: white;
    margin: 2px auto;
    padding: 2px;
    font-size: 1rem;
    width: 200px;
    border-radius: 2px;
  }
  ul.options li:hover {
    font-weight: bold;
    color: #00b4cc;
    cursor: pointer;
    transition: 0.3s all;
  }
  
  ul.options li.option-active {
    background: whitesmoke;
    font-size: 1rem;
    color: #00b4cc;
  }
  .no-options {
    color:black;
  }
  